* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: #0a0a0a;
  color: #ededed;
}

main {
  height: 100%;
  padding: 24px 0;
}

a {
  color: inherit;
  text-decoration: none;
}
